<body>
  <mat-sidenav-container class="sidenav-container">

    <!-- sidenav details -->

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">


      <div class="text-center">
        <img src="assets/images/logo-light.png" class="logo" /><br>
        <img src="assets/images/users/user-6.jpg" class="rounded-circle img-tumbnail avatar-lg" />
        <p class="user">Rinu Madathil</p>
        <p class="text-muted">Admin Head</p>
      </div>
      <div class="text-center">
        <button mat-button class="btn">
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>



        <button mat-button class="btn" [matMenuTriggerFor]="drop">
          <mat-icon>flip_to_front</mat-icon>Asset Management
          <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
        </button>
        <mat-menu #drop="matMenu">
          <button mat-menu-item class="bt" routerLink="/login/dashboard/usermanagement">User Management</button>
          <button mat-menu-item class=" bt" routerLink="/login/dashboard/createdept">Department</button>
          <button mat-menu-item class="bt" routerLink="/login/dashboard/usermanagement">Role Management</button>
          <button mat-menu-item class="bt" routerLink="/login/dashboard/createpermission">Permission</button>
          <button mat-menu-item class="bt" routerLink="/login/dashboard/createbranch">Branch</button>
          <button mat-menu-item class="bt" routerLink="/login/dashboard/createrole">Product</button>
        </mat-menu>
        <button mat-button class="btn">
          <mat-icon>show_chart</mat-icon>Activity Log
        </button>
        <button mat-button class="btn">
          <mat-icon>library_books</mat-icon>Report
        </button>
      </div>
    </mat-sidenav>




    <!-- toolbar details -->

    <mat-sidenav-content>

      <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Dashboard</span>


        <button mat-icon-button style="float: right;" class="example-icon favorite-icon">
          <mat-icon style="float: right;">notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon">
          <mat-icon style="float: right;">account_circle</mat-icon>
        </button>
      </mat-toolbar>




      <!-- cards  -->

      <div id="card-container">
        <mat-grid-list cols="4" rowHeight="200px">
          <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  {{card.title}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div>Card Content Here</div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
