@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  padding-top: 11vh;
  padding-bottom: 5vh;
  color: gray;
}

.basic-container {
  padding: 30px;
}

.form-container {
  width: 250px;
  height: auto;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 blue;
  position: relative;

}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

mat-card {
  background-color: red;
}

.example-spacer {
  flex: 0.80 0.80 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 50;
}

.bt {
  width: 210px;
  height: 50px;
  background-color: darkslategray;
  color: whitesmoke;
  border: none;
}

.example-container {
  width: 210px;
  height: 600px;
  border: none;
}

mat-sidenav {
  position: fixed;
  background-color: darkslategrey !important;
}

.logo {
  width: 190px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: gainsboro !important;
}

mat-toolbar {
  background-color: indigo !important;
  color: whitesmoke !important;
}

.example-button-row {
  background-color: gray !important;
}

.btn {
  margin: 10px;
}
