<body>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="example-container">
      <img src="assets/images/logo-light.png" class="logo" /><br>
      <div class="text-center">
        <img src="assets/images/users/user-6.jpg" class="rounded-circle img-tumbnail avatar-lg" />
        <p class="user">Rinu Madathil</p>
        <p class="text-muted">Admin Head</p>
      </div>
      <div>
        <button mat-button style="float: left;" class="bt">
          <mat-icon>dashboard</mat-icon>Dashnoard
        </button>
        <button mat-button class="bt" [matMenuTriggerFor]="drop">
          <mat-icon>flip_to_front</mat-icon>Asset Management
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #drop="matMenu">
          <button mat-button class="bt" routerLink="/login/dashboard/usermanagement">User Management</button><br>
          <button mat-button class=" bt" routerLink="/login/dashboard/createdept">Department</button><br>
          <button mat-button class="bt" routerLink="/login/dashboard/usermanagement">Role Management</button><br>
          <button mat-button class="bt" routerLink="/login/dashboard/createpermission">Permission</button><br>
          <button mat-button class="bt" routerLink="/login/dashboard/createbranch">Branch</button><br>
          <button mat-button class="bt" routerLink="/login/dashboard/createrole">Product</button><br>
        </mat-menu>
        <button mat-button class="bt">
          <mat-icon>show_chart</mat-icon>Activity Log
        </button>
        <button mat-button class="bt">
          <mat-icon>library_books</mat-icon>Report
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <h2> Create User</h2>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>

      <div class="form">
        <mat-card class="form-container" fxFlex="95">
          <mat-label>
            <p><b>Create Role</b></p>
            <h5>Add New Role</h5>
          </mat-label>
          <p>
            <mat-form-field [floatLabel]="'auto'">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" required>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Permission Type</mat-label>
              <mat-select>
                <mat-option value="option">All</mat-option>
                <mat-option value="option">Edit</mat-option>
                <mat-option value="option">View</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Module Permission</mat-label>
              <mat-select>
                <mat-option value="option">All</mat-option>
                <mat-option value="option">Edit</mat-option>
                <mat-option value="option">View</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Department</mat-label>
              <mat-select>
                <mat-option value="option">All</mat-option>
                <mat-option value="option">Edit</mat-option>
                <mat-option value="option">View</mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <section>
            <mat-checkbox color="primary">Active</mat-checkbox><br><br>
          </section>

          <div>
            <button mat-raised-button class="example-button-row">Cancel</button>
            <button mat-raised-button class="btn" color="warn">Create</button>
          </div>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
